<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="niuniu.javaweb.mapper.CheckOutMapper">
    <insert id="insertCheckOut">
        insert into checkout (rent_id, start, state, message)
        values (#{rentId}, current_timestamp, 0, #{message})
    </insert>
    <update id="updateCheckOut">
        update checkout
        set user_id = #{userId},
            end     = current_timestamp,
            remark  = #{remark},
            state   = #{state}
        where checkout_id = #{checkoutId}
    </update>
    <select id="getCheckOutState" resultType="niuniu.javaweb.pojo.CheckOut">
        select a.checkout_id,
               a.rent_id,
               a.user_id,
               a.start,
               a.end,
               a.remark,
               a.state,
               a.message
        from checkout as a,
             rent as b
        where a.rent_id = b.rent_id
          and b.user_id = #{userId}
          and a.state!=3
        ORDER BY
        start DESC LIMIT 1
    </select>
    <select id="getAllCheckOut" resultType="niuniu.javaweb.vo.CheckOutVO">
        select a.checkout_id,a.rent_id,a.user_id,a.start,IFNULL(a.end,"待处理")as
        end,a.remark,a.state,a.message,c.house_name
        from checkout as a,rent as b,house as c
        <where>b.rent_id = a.rent_id
            and b.house_id = c.house_id
            <if test="houseName!=null and houseName !=''">
                and c.house_name = #{houseName}
            </if>
            <if test="time!=null and time !=''">
                and DATE_FORMAT(a.start, '%Y-%m-%d') = #{time}
            </if>
        </where>
        ${ew.customSqlSegment}
    </select>
    <update id="cancelCheckout">
        update checkout
        set end    = current_timestamp,
            remark = "撤销申请",
            state  = 3
        where checkout_id = #{checkoutId}
    </update>
    <select id="getCheckOutDetail" resultType="niuniu.javaweb.vo.CheckOutVO">
        select a.*, b.house_name
        from checkout as a,
             house as b,
             rent as c
        where a.rent_id = c.rent_id
          and b.house_id = c.house_id
          and a.checkout_id = #{checkoutId}
    </select>
</mapper>
