<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="niuniu.javaweb.mapper.FeedBackMapper">
    <insert id="insertFeedBack">
        insert into feedback (message, user_id, time, state)
        values (#{message}, #{userId}, current_timestamp, 0)
    </insert>
    <select id="getFeedBack" resultType="niuniu.javaweb.pojo.FeedBack">
        select feedback_id,
               message,
               state,
               user_id,
               DATE_FORMAT(time
                   , '%Y-%m-%d')as time
        from feedback
        where state = 0
        order by time DESC
    </select>
    <update id="checkFeedBack">
        update feedback
        set state = 1
        where feedback_id = #{feedbackId}
    </update>
</mapper>
