<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="niuniu.javaweb.mapper.RoleMapper">
    <select id="getAllRole" resultType="niuniu.javaweb.vo.RoleVO">
        select @i:=@i+1 as id,role.*
        from role, (select @i := 0) as itable
        <where>role_id !=1</where>
        ${ew.customSqlSegment}
    </select>

    <update id="changeRoleState">
        update role
        set state = ${state}
        where role_id = #{roleId}
    </update>

    <insert id="insertRole" parameterType="niuniu.javaweb.pojo.Role">
        insert into role (role_name, remark, state)
        values (#{roleName}, #{remark}, 1)
        <selectKey keyProperty="roleId" order="AFTER" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateRole">
        update role
        set role_name = #{roleName},
            remark    =#{remark}
        where role_id = #{roleId}
    </update>
    <select id="getRoleSalary" resultType="niuniu.javaweb.pojo.Salary">
        select a.*
        from salary as a,
             salary_role as b
        where b.role_id = #{roleId}
          and a.salary_id = b.salary_id
          and b.state not in (0, 2)
    </select>
</mapper>