<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="niuniu.javaweb.mapper.StaffPayMapper">
    <select id="selectHasSalary" resultType="niuniu.javaweb.pojo.StaffPay">
        select *
        from staff_pay
        where user_id = #{userId}
        order by time desc limit 1
    </select>
    <insert id="insertStaffPay">
        insert into staff_pay (user_id, out_trade_no, time, else_price, base_price, price, remark, state)
        values (#{userId}, #{outTradeNo}, current_timestamp, #{elsePrice}, #{basePrice}, #{price}, #{remark}, 0)
    </insert>
    <select id="selectSalaryPay" resultType="niuniu.javaweb.vo.StaffPayVO">
        select a.*,b.name,b.username,c.role_name
        from staff_pay as a,user as b,role as c
        <where>
            b.user_id = a.user_id
            and b.role_id>1
            and b.role_id = c.role_id
            <if test="time!=''and time !=null">
                and DATE_FORMAT(a.time
                , '%Y-%m') = #{time}
            </if>
            <if test="name!='' and name!=null">
                and b.name = #{name}
            </if>
        </where>
    </select>
    <select id="judgeGenerateStaff" resultType="int">
        select count(*)
        from staff_pay
        where date (time) = curdate()
    </select>
</mapper>
